@charset "UTF-8";
@import url('fontes-css/roboto.css');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--roboto);
    font-size: 1.4em;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 12px;
    background-color: #0678a9;
    margin-bottom: 20px;
    border: none;
}

header > * { /* Tudo que estiver dentro do 'header' */
    display: inline;
}

header > h1#title-header {
    text-align: left;
    font-size: 1.35em;
}

header > img#icon-icweb {
    height: 35px;
    background-color: #f0f8ff;
    border-radius: 50%; /* Arredondamento PERFEITO! */
    margin-right: 5px;
    margin-top: -2px;
    margin-bottom: -4px;
}

header > img#icon-icweb:hover {
    cursor: pointer;
}

img#folder {
    margin-bottom: -10px;
    height: 45px;
}

img#icon-desc {
    margin-bottom: -5px;
    height: 33.5px;
}

img#folder:hover {
    cursor: pointer;
}

main {
    margin: 7px;
}

nav#itens > * {
    display: inline;
    margin-left: 35px;
}

a {
    text-decoration: none;
    color: #000;
    transition-duration: .36s;
}

a:hover {
    color: #fff;
}

i#menu-icon {
    display: none;
}

h1#semi-title {
    font-size: 1.35em;
    text-align: center;
    padding: 3px;
}

p#semi-p {
    font-size: 1em;
    text-align: center;
    margin-top: 5px;
    color: #515151;
}

div#comment {
    display: block;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    border: 1.2px solid orangered;
    border-radius: 18px;
    padding: 4.5px;
    width: 380px;
    height: 50px;
}

div#comment > p > img#medal-star {
    height: 34px;
    margin-bottom: -3px;
}

img.icons {
    height: 100px;
}

.card-icon {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

button.btn-dowloand {
    padding: 8px;
    background-color: #e6500b;
    border: none;
    border-radius: 5.6px;
}

button.btn-dowloand > a {
    color: #fff;
}